@import url("../../global.css");
.background{
  background: var(--primary-color);
}
.box-container {
  display: flex;
  gap: 0.5rem;
}
.box-item {
  background:var(--secondary-color);
  border-radius: 5px;
  padding: 1rem;
  width: 25%;
}
.icon-box {
  width: 40px;
  text-align: center;
  background: #243684;
  padding: 5px;
  border-radius: 8px;
}
.icon-box1 {
  width: 40px;
  text-align: center;
  background: #175245;
  padding: 5px;
  border-radius: 8px;
}
.icon-box2 {
  width: 40px;
  text-align: center;
  background: #643437;
  padding: 5px;
  border-radius: 8px;
}
.icon-box3 {
  width: 40px;
  text-align: center;
  background: #592b4c;
  padding: 5px;
  border-radius: 8px;
}
.active {
  color: rgb(48, 197, 87);
}
.de-active {
  color: rgb(197, 48, 48);
}
.activity-container {
  background: #1f2029;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.profit-box {
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 1.5rem;
}
.location-icon {
  width: 50px;
  height: 50px;
  background: #632e3a;
  border-radius: 50%;
  padding: 10px;
}
.dish-icon {
  width: 50px;
  height: 50px;
  background: #293268;
  border-radius: 50%;
  padding: 10px;
}
.menu-icon {
  width: 50px;
  height: 50px;
  background: #244c60;
  border-radius: 50%;
  padding: 10px;
}
.arrow-icon {
  width: 28px;
  height: 28px;
  background-color: #48494d;
  border-radius: 50%;
  padding: 3px;
}
.table-responsive {
  overflow-x: auto;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.feedback-container {
  height: 310px;
  overflow-y: auto;
}
.tableBg{
  background-color:var(--secondary-color);
}
@media screen and (max-width: 728px) {
  .box-container {
    flex-direction: column;
  }
  .box-item {
    width: 100%;
  }
}
