::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}
td {
  text-wrap: nowrap;
}
.small-font{
  font-size: 10px;
}
h4{
  font-weight: 700 !important;
}
h5{
  font-weight: 700 !important;
}
.navbar-toggler-icon{
background-color: #48494d;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
 h4 {
   font-size: 12px;
  }

  h5 {
    font-size: 12px;
  }
}
.CircularProgressbar {
  width: 5rem !important;
  margin-left: 3rem;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .CircularProgressbar {
    width: 4rem !important;
    margin-left: 0 !important;
  }
}
